.footer {
    position: relative;
    border-radius: 10px 10px 0 0;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
  }
  
  .footer-card-container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-card {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    width: calc(33.3333% - 50px);
    height: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
  }
  
  .footer-card h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(75, 75, 75);
  }
  
  .footer-card ul {
    padding-left: 15px;
  }
  
  .footer-card h4, li {
    font-weight: 500;
    font-size: 13px;
    color: rgb(75, 75, 75);
  }